.body-font{
	font-family: calibri;
	background-color: #F7F4EA
}

.banner{
	background-color: #FFC145;
	padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}

.title-font{
	color: #FFFFFF;

}

.chart {
    height: 350px;
    width: -webkit-fill-available;
}

.reco-modal {
  background-color: #fb3;
  color: white;
  height: 40px;
}

.modal {
   width: 600px;
   height: 300px;
   position: absolute;
   left: 40%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;
}

/* Center the loader */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #F3F3F3;
  border-radius: 50%;
  border-top: 16px solid #F7F4EA;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
 border-top: 16px solid #FFC145;
 border-bottom: 16px solid #FFC145;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
